body {
    background-image:url("back_clock.jpg");
    background-position: center;
    background-attachment: fixed;
  }
  #cadran {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 35vw;
    margin-top: 20vh;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    background-color: white;
    background-image: url("clock.png");
    background-size: 320px 320px;
    background-position: center;
    background-repeat: no-repeat;
  }
 
  #secondes {
    position: absolute;
    top: 35px;
    left: 175px;
    width: 3px;
    height: 140px;
    border-radius: 5px;
    background-color: red;
    transform-origin: 2px 100%;
    transition: 0.5s;
    animation: rotate-second 60s steps(60) infinite;
    z-index: 10;
  }
  #minutes {
    position: absolute;
    top: 45px;
    left: 175px;
    width: 7px;
    height: 130px;
    border-radius: 5px;
    background-color: rgb(5, 4, 4);
    transform-origin: 50% 100%;
    transition: 0.5s;
    animation: rotate-minute 3600s steps(60) infinite;
    z-index: 5;
  }
  #heures {
    position: absolute;
    top: 76px;
    left: 174px;
    width: 9px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(5, 4, 4);
    transform-origin: 50% 100%;
    transition: 0.5s;
    animation: rotate-hour 43200s steps(12) infinite;
  }
  #centre {
    position: absolute;
    top: 166px;
    left: 169px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(22, 21, 21), black, black);
    z-index: 100;
  }
  